# Ignore Java compiled bytecode
*.class

# Ignore macOS system files (prevents "hidden" file clutter)
.DS_Store

# Ignore VS Code configuration and workspace files
.vscode/

# Ignore project metadata from other IDEs (like IntelliJ or Eclipse)
.idea/
*.iml
.project
.classpath
.settings/

# Do NOT ignore the CSV data so that it will propagate to other environments for demo
# shopping_list.csv
# master_list.csv